<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>


<body>
  <main>

    <form action="/search" method="PUT">
      <div class="fake-header">
        <label id="location">Zip Code
          <input id="zip" type="text" inputmode="numeric" name="Location" maxlength="5" pattern="\b\d{5}\b" value="">
        </label>

        <h1>MoviesNOW</h1>

        <label id="time">Time
          <select name="time">
            <option selected="selected" value="Go Now!">Go Now!</option>

            <% for( let i = 9; i < 24; i++){ %>
            <% let time ;%>
            <%if( i < 12){%>
            <% time= i + ':00AM'%>
            <% } else if( i > 12){%>
            <%  time = (i -12 ) + ':00PM'%>
            <%  } else {%>
            <% time = '12:00PM'}%>
            <option value="<%= time %>"> <%= time %></option>

            <% }%>

          </select>
        </label>
      </div>
      <section class="movies">

        <% posters.forEach(poster => { %>
          <label for="<%= poster.title %>">
            <input type="radio" name="movie-radios" id="<%= poster.title %>" value="<%= poster.title %>">
          <img class="image" src=" <%= poster.img_url %>">
          </label>
          <% }) %>

      </section>
    </form>
  </main>

  <footer>
    <button type="button"> Sign In </button>
    <button type="submit"> Go Now </button>
    <button type="button"> About Us </button>
  </footer>



</body>

</html>