<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>


<body>
  <main>

    <form action="/search" method="PUT">
      <div class="fake-header">
        <label id="location">Zip Code
          <input id="zip" type="text" inputmode="numeric" name="Location" maxlength="5" pattern="\b\d{5}\b" value="">
        </label>

        <h1>MoviesNOW</h1>

        <label id="time">Time
          <input type="text" name="Time" Value="">
        </label>
      </div>

      <section class="movies">

        <% posters.forEach(poster => { %>
          <label for="<%= poster.title %>">
            <input type="radio" name="movie-radios" id="<%= poster.title %>" value="<%= poster.title %>">
          <img class="image" src=" <%= poster.imgURL %>">
          </label>
          <% }) %>

      </section>
    </form>
  </main>

  <footer>
    <button type="button"> Sign In </button>
    <button type="submit"> Go Now </button>
    <button type="button"> About Us </button>
  </footer>



</body>

</html>