<!DOCTYPE html>
<html lang="en">


  <%- include('../views/head') %>


  <body>
    <form action="/find" method="POST" id="movieSearch">
      <main class="main">
        
          <div>
            <%- include('../views/header') %>
          <img class="mainPic" src="<%= details.img_url %>">
        </div>
        <div class="bottom">
          <div class="textEnter">
            <h1 class="results-styling"><%= details.title %></h1>
            <p class="results-styling"><%= details.description %></p>
            <h4 class="results-styling"><%= details.theater %></h4>
            <button id="timeBottom" type="button"><%= details.time %></button>
          </div>
        </div>
    </main>
    <footer>
  
      <button class="sign" type="button" onclick="window.location.href = '/';"> Main </button>
    <button class="about" type="button" onclick="window.location.href = '/about';"> About </button>

      
    </footer>   
  </body>
</html>
