<!DOCTYPE html>
<html lang="en">


  <%- include('../views/head') %>


  <body>
    <form action="/find" method="POST" id="movieSearch">
      <main class="main">
        
        <!-- <section class="all"> -->
          <div>
            <%- include('../views/header') %>
          <img class="mainPic" src="<%= details.img_url %>">
        </div>
        <div class="bottom">
          <div class="textEnter">
            <h3><%= details.title %></h3>
            <h3><%= details.description %></h3>
            <h3>
              <%= details.theater %>
            </h3>
            <button id="timeBottom" type="button"><%= details.time %></button>
          </div>
        </div>
      <!-- </section> -->
    </main>
    <footer>
  
      <button class="sign" type="button"> Sign In </button>
      
      
      <button class="about" type="button"> About </button>
      
    </footer>   
  </body>
</html>
